---
import { themeConfig } from '~/.config'

const year = new Date().getFullYear()

const { website, author, footer } = themeConfig.site

function parseFooter(str: string) {
  str = str.replace(/%author/g, author)
  str = str.replace(/%website/g, website)
  str = str.replace(/%year/g, year.toString())
  return str
}
---

<span class="text-left w-full text-sm"><number-flow class="views-count"></number-flow> 個人來過</span>
{footer.length && footer.map((str) => <p set:html={parseFooter(str)} />)}

<style>
  p {
    --at-apply: 'font-bold text-3';
  }
</style>
