---
import PostMetaList from '~/components/PostMetaList.astro'
import type { Post } from '~/types'

interface Props {
  post: Post
  class?: string
}

const { post, class: className } = Astro.props
---

<div class:list={['flex gap-4 relative', className]}>
  <div class="w-1.5 rounded-full bg-gray-200 dark:bg-gray-700 shrink-0"></div>
  <article class="prose w-full">
    <PostMetaList post={post} />
    <slot />
  </article>
</div>
