---
import PostMetaList from '~/components/PostMetaList.astro'
import type { Post } from '~/types'

interface Props {
  post: Post
  class?: string
}

const { post, class: className } = Astro.props
---

<div class:list={['relative', className]}>
  <article class="prose max-w-[calc(100%)] md:max-w-[calc(100%-80px)]">
    <PostMetaList post={post} />
    <slot />
  </article>
</div>
