---
import BackToList from '~/components/BackToList.astro'
import PostMeta from '~/components/PostMeta.astro'
import type { Post } from '~/types'

interface Props {
  post: Post
}

const { post } = Astro.props
---

<article class="prose">
  <BackToList />
  <PostMeta post={post} />
  <div class="mb-4"></div>
  <slot />
</article>
