---
import PostMeta from '~/components/PostMeta.astro'
import type { Post } from '~/types'

interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="flex gap-4 relative">
  <div class="w-1.5 rounded-full bg-gray-200 dark:bg-gray-700 shrink-0"></div>
  <article class="prose">
    <PostMeta post={post} />
    <slot />
  </article>
</div>
